@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f8f7f7;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.2;
}

.btn-primary {
    color: #000;
    background-color: #f6648C;
    border-color: #f6648C;
}

.btn-primary:hover {
    color: #000;
    background-color: #f77b9d;
    border-color: #f77498;
}

.text-light {
    color: #F8F7F7 !important;
}

.bg-primary {
    background-color: #f6648C !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.border-primary {
    border-color: #f6648C !important;
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}
  
.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}
  
.list-group-item-action:active {
    color: #212529;
    background-color: #e9ecef;
}

.link-light {
    color: #F8F7F7;
}
  
.link-light:hover, .link-light:focus {
    color: #f883a3;
}

.game {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    outline: 2px dashed #F6648C;
}
  
.game img {
    width: 70px;
    height: 70px;
}
  
.highscores {
    height: 120px;
    overflow: auto;
}
  
@media (min-width: 992px) {
    .highscores {
      height: 30vh;
      overflow: auto;
    }
}
  
@media (min-width: 1600px) {
    .game {
      height: 840px;
      width: 840px;
    }
    .game img {
      height: 105px;
      width: 105px;
    }
}
  
@media (max-width: 760px) {
    .game {
      width: 58.3332vw;
      height: 58.3332vw;
    }
    .game img {
      width: 7.291665vw;
      height: 7.291665vw;
    }
}